@mixin flex-flow($direction: row) {
  flex-direction: $direction;
}

@mixin justify-content($content: flex-start) {
  justify-content: $content;
}

@mixin align-items($align: flex-start) {
  align-items: $align;
}

@mixin place-content($place: center) {
  place-content: $place;
}

.flow-row {
  @include flex-flow();
}

.flow-column {
  @include flex-flow(column);
}

.align-row-left {
  @include justify-content();
}

.align-row-center {
  @include justify-content(center);
}

.align-row-right {
  @include justify-content(flex-end);
}

.align-row-around {
  @include justify-content(space-around);
}

.align-row-between {
  @include justify-content(space-between);
}

.align-column-left {
  @include align-items();
}

.align-column-center {
  @include align-items(center);
}

.align-column-right {
  @include align-items(flex-end);
}

.verticalAlign-top {
  @include place-content(flex-start);
}

.verticalAlign-center {
  @include place-content();
}

.verticalAlign-bottom {
  @include place-content(flex-end);
}

.rocketChart-card {
  display: flex;
  flex-flow: column;
  min-width: 100px;
  height: 100%;
  font-size: 12px;
  line-height: 1.5;
  padding: 0.5em 0;
  overflow: auto;
  .card-group {
    display: flex;
    flex-wrap: wrap;
    .card-item {
      padding: 0 1em;
      font-family: 'Helvetica';
      box-sizing: border-box;
      .cursor-handler {
        cursor: pointer;
      }
      .selected {
        border: 1px solid rgba(160, 160, 160, 0.8);
      }
      &-label {
        font-size: 1.5em;
        line-height: 1.5;
        box-sizing: border-box;
        border: 1px solid transparent;
        overflow: hidden;
      }
      &-value {
        font-weight: 600;
        font-size: 3em;
        white-space: nowrap;
        box-sizing: border-box;
        border: 1px solid transparent;
        &-prefix,
        label,
        &-suffix {
          cursor: inherit;
        }
        // &-prefix,
        // &-icon,
        &-suffix {
          font-size: 0.4em;
        }
      }
    }
    &.card-sec {
      line-height: 1.2;
      margin-top: 2px;
      .card-item {
        font-size: 1em;
        color: #a0a0a0;
        &-label {
          font-size: inherit;
          display: inline;
          &:after {
            content: ': ';
            display: inline-block;
            width: 0;
            height: 0;
          }
        }
        &-value {
          display: inline;
          margin-left: 10px;
          font-weight: normal;
          font-size: inherit;
          span {
            padding-left: 0.2em;
          }
        }
      }
    }
  }
}
